@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark;
  }

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
  }

  body {
    @apply m-0 bg-transparent text-neutral-100 antialiased;
  }
}
